* {
    margin: 0;
    padding: 0;
  }

body {
    background-image: url("Fotos/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

h1{
    color:white;
    text-align:center;
    font-size:60px;
}

#arrowLeft{
    width:12vh;
    height:8vh;
    background:transparent;
    margin-left:10%;
    float:left;
}

#arrowRight{
    width:12vh;
    height:8vh;
    background:transparent;
}

.buttonbar{
    float:left;
    text-decoration: none;
    border-radius: 0 !important;
    width: 18vh; 
    height: 6vh;
    margin-top:1vh;
}

table.chessboard {
    clear:both;
    background: white;
    border-collapse: collapse; 
    margin-left:10%;
}
td.chessboard {
    width: 8vh; 
    height: 8vh;
    border: 2px solid #333; 
}
tr.chessboard:nth-child(odd) td.chessboard:nth-child(even),
tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
    background: black;
}